In [2]:
import os,sys
import pandas as pd

In [3]:
demographics_folder = "2021_GCP_CED_for_AUS_short-header/2021 Census GCP Commonwealth Electroral Division for AUS"
demographic_files = os.listdir(demographics_folder)
demographic_db = pd.read_csv(f"{demographics_folder}/{demographic_files[0]}",index_col="CED_CODE_2021")
cedcodemapper = pd.read_csv("CEDcodemapper.csv",index_col="CED_CODE_2021")
demographic_db.head()

,Tot_P_M,Tot_P_F,Tot_P_P,Age_0_4_yr_M,Age_0_4_yr_F,Age_0_4_yr_P,Age_5_14_yr_M,Age_5_14_yr_F,Age_5_14_yr_P,Age_15_19_yr_M,...,High_yr_schl_comp_Yr_8_belw_P,High_yr_schl_comp_D_n_g_sch_M,High_yr_schl_comp_D_n_g_sch_F,High_yr_schl_comp_D_n_g_sch_P,Count_psns_occ_priv_dwgs_M,Count_psns_occ_priv_dwgs_F,Count_psns_occ_priv_dwgs_P,Count_Persons_other_dwgs_M,Count_Persons_other_dwgs_F,Count_Persons_other_dwgs_P
CED_CODE_2021,,,,,,,,,,,,,,,,,,,,,
CED101,79869,83028,162893,4673,4196,8868,9699,9222,18924,4748,...,5349,827,1243,2069,76316,78974,155288,2899,3363,6265
CED102,90505,91139,181643,5116,4725,9848,9074,8572,17651,4379,...,7674,1352,1936,3290,85276,85928,171208,5012,5053,10065
CED103,93521,97697,191219,5407,5160,10569,11387,10682,22066,4820,...,3742,685,971,1652,88994,92886,181881,4180,4381,8567
CED104,75201,77373,152571,3577,3436,7012,11415,10329,21749,5546,...,2300,313,398,714,72665,74472,147129,1876,2477,4350
CED105,96511,92095,188607,6842,6475,13322,12945,12339,25283,6136,...,9551,2864,3371,6229,88864,85178,174044,7414,6700,14114

In [4]:
for file in demographic_files[1:]:
    demographic_db = pd.concat(
        [demographic_db,
        pd.read_csv(f"{demographics_folder}/{demographic_files[0]}",index_col="CED_CODE_2021")],axis=1
    )
demographic_db = pd.merge(cedcodemapper,demographic_db, left_index=True, right_index=True, how='inner').set_index("DivisionNm")

demographic_db = demographic_db.T.drop_duplicates().T

In [5]:
primaryvotes = pd.read_csv("HouseFirstPrefsByCandidateByVoteTypeDownload-27966.csv",header=1)
primaryvotes

,StateAb,DivisionID,DivisionNm,CandidateID,Surname,GivenNm,BallotPosition,Elected,HistoricElected,PartyAb,PartyNm,OrdinaryVotes,AbsentVotes,ProvisionalVotes,PrePollVotes,PostalVotes,TotalVotes,Swing
0,ACT,318,Bean,36239,CONWAY,Sean,1,N,N,UAPP,United Australia Party,2479,72,7,110,163,2831,0.48
1,ACT,318,Bean,37455,AMBARD,Benjamin,2,N,N,ON,Pauline Hanson's One Nation,2304,49,5,108,214,2680,2.72
2,ACT,318,Bean,36231,SMITH,David,3,Y,Y,ALP,Australian Labor Party,35883,590,106,915,3566,41060,3.59
3,ACT,318,Bean,32130,CHRISTIE,Jamie,4,N,N,IND,Independent,6953,124,11,176,759,8023,-0.12
4,ACT,318,Bean,36243,SAVERY,Kathryn Jane,5,N,N,GRN,The Greens,12474,396,42,489,1158,14559,1.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349,WA,248,Tangney,36608,MORTON,Ben,6,N,Y,LP,Liberal,31507,1234,86,1752,8429,43008,-11.32
1350,WA,248,Tangney,37302,FOWLER,Brent,7,N,N,CYA,Australian Federation Party,790,56,7,52,123,1028,0.96
1351,WA,248,Tangney,37283,HOLROYD,Jacqueline,8,N,N,LDP,Liberal Democrats,825,68,5,50,162,1110,1.03
1352,WA,248,Tangney,36635,ABDUL RAZAK,Adam,9,N,N,GRN,The Greens (WA),9396,1031,61,705,1683,12876,1.09
1353,WA,248,Tangney,999,Informal,Informal,999,N,N,NaN,Informal,3350,249,26,172,474,4271,-0.78

In [6]:
primaryvotes[pd.isna(primaryvotes['PartyAb'])]['Surname'].unique()

array(['Informal'], dtype=object)

In [7]:
teal_candidates = pd.read_csv("teal.csv")
teal_candidates.head()
# teal_candidates['Surname'] = teal_candidates['Candidate'].apply(lambda x: ' '.join(x.split()[1:]).upper())
# teal_candidates['GivenNm'] = teal_candidates['Candidate'].apply(lambda x: ' '.join(x.split()[0:1]))

  DivisionNm       Surname    GivenNm
0    Boothby          DYER         Jo
1  Bradfield         BOELE  Nicolette
2     Calare          HOOK       Kate
3      Casey  FERRES MILES     Claire
4     Cowper         HEISE        Caz

In [8]:
parties_collected = ['UAPP', 'ON', 'ALP', 'IND', 'GRN', 'LP','NP','CLP','LNP','XEN', 'KAP']
party_mappers = {
    'UAPP':'UAP', 
    'ON':'ONP',
    'ALP':'ALP', 
    'IND':'IND', 
    'GRN':'GRN',
    'LP':'LIB',
    'NP':'NAT',
    'CLP':'CLP',
    'LNP':'LNP',
    'XEN':'IND',
    'KAP':'KAP',
}

modeled_parties = ['UAP', 'ONP', 'ALP', 'IND', 'GRN', 'LIB', 'NAT', 'CLP', 'LNP', 'IND', 'KAP', 'TEAL', 'OTH']

for idx,teal in teal_candidates.iterrows():
    givenNm = teal['GivenNm']
    surname = teal['Surname']
    division = teal['DivisionNm']
    primaryvotes.loc[(primaryvotes[['GivenNm','Surname','DivisionNm']]==[givenNm,surname,division]).all(axis=1),'PartyAb']="TEAL"
    if (primaryvotes[['GivenNm','Surname','DivisionNm']]==[givenNm,surname,division]).all(axis=1).sum()!=1:
        print(f"Error in {teal}")
        print(primaryvotes[(primaryvotes[['GivenNm','Surname','DivisionNm']]==[givenNm,surname,division]).all(axis=1)])

In [9]:
def partymap(party):
    if party in modeled_parties:
        return party
    elif party in party_mappers.keys():
        return party_mappers[party]

    elif pd.isna(party):
        return "Informal"
    else:
        return "OTH"

primaryvotes_cleaned = primaryvotes.drop(primaryvotes[primaryvotes['Surname']=='Informal'].index)[["DivisionNm","PartyAb","TotalVotes"]].copy()

primaryvotes_cleaned['PartyAb'] = primaryvotes_cleaned['PartyAb'].apply(partymap)

In [10]:
primary_votes_handled = primaryvotes_cleaned.groupby(['DivisionNm','PartyAb']).aggregate("sum").unstack()

In [11]:
primary_votes_handled = primary_votes_handled.div(primary_votes_handled.sum(axis=1),axis=0)

In [12]:
primary_votes_handled.columns = primary_votes_handled.columns.droplevel(0)

In [13]:
overall_df = pd.concat([primary_votes_handled,demographic_db],axis=1)

In [14]:
corrmat = overall_df.corr()

In [15]:
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split
k=len(modeled_parties)

In [17]:
# Split observed and missing data
observed_cols = overall_df.columns[k:]  # Fully observed columns
missing_cols = overall_df.columns[:k]   # Columns with missing data

# Use KNN to impute missing values based on fully observed features
imputer = KNNImputer(n_neighbors=5, weights="uniform")
df_imputed = overall_df.copy()
df_imputed[missing_cols] = imputer.fit_transform(overall_df)[..., :k]  # Impute only the first k columns

In [39]:
df_imputed.loc['Grayndler',modeled_parties]

UAP     0.022216
ONP     0.015321
ALP     0.536337
IND     0.020862
GRN     0.220422
LIB     0.159781
NAT     0.319798
CLP     0.298366
LNP     0.379911
IND     0.020862
KAP     0.149858
TEAL    0.386928
OTH     0.025060
Name: Grayndler, dtype: float64

In [38]:
overall_df.loc['Grayndler',modeled_parties]

UAP     0.022216
ONP     0.015321
ALP     0.536337
IND     0.020862
GRN     0.220422
LIB     0.159781
NAT          NaN
CLP          NaN
LNP          NaN
IND     0.020862
KAP          NaN
TEAL         NaN
OTH     0.025060
Name: Grayndler, dtype: float64

TEST WHAT HAPPENS ONCE WE TAKE IMPUTED DF AND MOVE IT THROUGH TRANSITION MATRIX.

E.g. in Grayndler:
EXCLUDE NATS, CLP, LNP, KAP, TEAL and distribute preferences to others with transition matrix.

Take `Transition_Matrix.loc[NATS,cols_of_competing_parties]` and normalise it.

Then `imputed_df[cols_of_non_competing_parties]=0` and then `imputed_df[cols_of_non_competing_parties]+imputed_df[NAT]*Transition_Matrix.loc[NATS,cols_of_competing_parties]`